/**
 * Add your design tokens as Tailwind theme variables.
 *
 * https://tailwindcss.com/docs/theme
 */

/**
 * Your theme variables are merged with Tailwind’s defaults, either extending
 * the default theme with new variables or overriding the values of existing
 * variables.
 */
@theme {
	/**
	 * These theme variables use CSS variables set by WordPress using values
	 * from your `theme.json` file.
	 *
	 * If you are using the classic editor, you should use hardcoded color
	 * values instead of the `var()` functions below.
     */

	--color-primary-100: #E0F7FE;
	--color-primary-200: #72DFF9;
	--color-primary-300: #02BAE9;
	--color-primary-400: #007DA1;
	--color-secondary-100: #F1F5F9;
	--color-secondary-200: #94A3B8;
	--color-secondary-300: #1E293B;
	--color-secondary-400: #0F172A;
	--color-grey-100: #F8FAFC;
	--color-grey-200: #CBD5E1;
	--color-grey-300: #64748B;
	--color-grey-400: #334155;
	--color-success-100: #DCFCE7;
	--color-success-400: #14532D;
	--color-error-100: #FEE2E2;
	--color-error-400: #B91C1C;

	--color-background: var(--color-grey-100);
	--color-foreground: var(--color-secondary-400);
	--color-primary: var(--color-primary-300);
	--color-secondary: var(--color-secondary-300);
	--color-tertiary: var(--color-grey-300);
	
	/*
	--container-content: var(--wp--style--global--content-size);
	--container-wide: var(--wp--style--global--wide-size); 
	*/

	/**
	 * These are the default `font-family` theme variables included with
     * Tailwind. You can update them below by adding custom fonts at the
	 * beginning of each value.
	 *
	 * Default theme variables can be found in their entirety at the links
	 * below, on GitHub or in Tailwind’s documentation, respectively:
	 *
	 * https://github.com/tailwindlabs/tailwindcss/blob/main/packages/tailwindcss/theme.css
	 * https://tailwindcss.com/docs/theme#default-theme-variable-reference
	 */
	--font-headings: "Rethink Sans", sans-serif, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-body: "Geist", sans-serif, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;

	/**
	 * Add your theme below:
	 */
}
