/**
 * Custom styles to immediately follow Tailwind’s `components` layer
 *
 * “Use the `components` layer for any more complicated classes you want to add
 *  to your project that you'd still like to be able to override with utility
 *  classes.”
 *
 *  — from https://tailwindcss.com/docs/adding-custom-styles#adding-component-classes
 */

/* Re-initialise the classes and tags that have been removed. This revives some critical settings */

/**
 * ShopChop Page Elements & Components
 */

.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
	@apply mb-6 ps-5 p-4 border-l-4 rounded-r-xl focus-visible:outline-none flex items-center;
}

.woocommerce-message {
	@apply text-success-400 border-l-success-400 bg-success-100;
}

.woocommerce-info {
	@apply text-teal-800 border-l-teal-800 bg-teal-100;
}

.woocommerce-error {
	@apply text-error-400! border-l-error-400 bg-error-100;
}

.wc-message-icon,
.wc-info-icon,
.wc-error-icon {
	@apply shrink-0 w-6 h-6 bg-no-repeat bg-center bg-contain me-3;
}

.wc-message-icon {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24' fill='none' stroke='%2314532d' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M18 6 7 17l-5-5'/%3E%3Cpath d='m22 10-7.5 7.5L13 16'/%3E%3C/svg%3E");
}

.wc-info-icon {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24' fill='none' stroke='%23115e59' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M12 16v-4'/%3E%3Cpath d='M12 8h.01'/%3E%3C/svg%3E");
}

.wc-error-icon {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24' fill='none' stroke='%23b91c1c' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cpath d='m21 21-4.3-4.3'/%3E%3Cpath d='M11 7v4'/%3E%3Cpath d='M11 15h.01'/%3E%3C/svg%3E");
}

.wc-info-inner,
.wc-error-inner,
.wc-message-inner {
	@apply flex flex-wrap items-center w-full;

	.button.wc-forward,
	a.restore-item,
	a {
		@apply ms-auto h-auto bg-secondary hover:bg-secondary-400 active:bg-secondary-400 focus:bg-secondary-400 text-background! normal-case text-base px-5 py-2 rounded-lg;
	}
}

.wc-error-inner {
	@apply flex-col items-start ms-8;

	ul.wc-error-reasoning {
		@apply list-disc;

		li {
			@apply my-0;
		}

		::marker,
		strong {
			@apply text-error-400!;
		}

		a {
			@apply text-error-400! p-0 bg-transparent! hover:bg-transparent active:bg-transparent focus:bg-transparent;
		}
	}

}

.button,
button.button,
a.button,
input[type="submit"] {
	@apply bg-primary font-semibold cursor-pointer text-base lg:text-xl text-background transition-all hover:bg-primary-400 hover:text-background active:bg-primary-400 active:text-background focus:bg-primary-400 focus:text-background rounded-lg h-14 uppercase tracking-wider;

	&:disabled,
	&.disabled {
		@apply bg-grey-200 text-grey-300 cursor-not-allowed;
	}
}

/* Targets standard text entry fields */
input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="tel"], 
input[type="number"], 
input[type="url"],
textarea,
select {
	@apply w-full max-w-80 h-14 bg-background border-2 border-grey-200 rounded-lg p-4 focus:border-primary-300 focus:bg-white outline-none transition-all focus:ring-4 focus:ring-primary-100;
}

textarea { @apply h-32; }

/* Label tag */
label { @apply font-semibold; }

/* Make Required star appear red */
.required { @apply text-error-400; }

/* DISABLE SELECT2 */
.select2.select2-container { @apply hidden!; }

/* HIDE SIDEBAR ID IN BODY TAG */
#sidebar { @apply hidden!; }

/* Input Number Quantity with Buttons */
.quantity-nav {
	@apply inline-flex h-14 items-center border-2 border-grey-200 rounded-lg overflow-hidden;

	.quantity {
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			@apply hidden m-0;
		}

		input.qty {
			@apply w-15 border-none! rounded-none! text-center font-bold p-0;
		}
	}

	.qty-btn {
		@apply w-13 h-full border-0 cursor-pointer font-semibold text-2xl text-grey-300 flex items-center justify-center transition-all hover:bg-secondary-100 hover:text-secondary active:bg-secondary-100 active:text-secondary focus:bg-secondary-100 focus:text-secondary;
	}
}

/* Password Input */
.password-input {
	@apply relative;

	input {
		@apply pe-12;
	}

	.show-password-input {
		@apply absolute right-4 top-1/2 -translate-y-1/2 w-6 h-6 border-none bg-none p-0 cursor-pointer flex items-center justify-center;

		&::after {
			@apply content-[''] w-full h-full block bg-grey-300;
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0'/%3E%3Ccircle cx='12' cy='12' r='3'/%3E%3C/svg%3E");
		}

		&.display-password::after {
			@apply bg-primary-400;
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10.733 5.076a10.744 10.744 0 0 1 11.205 6.575 1 1 0 0 1 0 .696 10.747 10.747 0 0 1-1.444 2.49'/%3E%3Cpath d='M14.084 14.158a3 3 0 0 1-4.242-4.242'/%3E%3Cpath d='M17.479 17.499a10.75 10.75 0 0 1-15.417-5.151 1 1 0 0 1 0-.696 10.75 10.75 0 0 1 4.446-5.143'/%3E%3Cpath d='m2 2 20 20'/%3E%3C/svg%3E");
		}
	}
}
.woocommerce-password-strength {
	@apply p-1.5 mt-2 text-center text-sm font-medium rounded-lg w-full;

	&.short { @apply bg-error-100 text-error-400; }
	&.bad   { @apply bg-orange-100 text-orange-800; }
	&.good  { @apply bg-yellow-100 text-yellow-800; }
	&.strong { @apply bg-primary-100 text-primary-400; }
}

.woocommerce-password-hint { @apply hidden!; }

.clear { @apply absolute; }



/**
 * ShopChop BlockUI Overlay Custom
 */
.blockUI.blockOverlay {
	@apply relative bg-background/75! opacity-100!;

	&::after {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 100 101'%3E%3Cpath fill='%23cbd5e1' d='M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z'/%3E%3Cpath fill='%23007da1' d='M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z'/%3E%3C/svg%3E");
		@apply content-[""] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 h-10 w-10 animate-spin bg-no-repeat bg-center bg-contain;
	}
}



/**
 * ShopChop Error 404 Container
 */
.error-404-wrapper {
	@apply text-center py-16;

	.error-404-big {
		@apply text-9xl font-extrabold text-primary-400 mb-2;
	}

	.error-404-heading {
		@apply text-3xl lg:text-4xl font-medium text-primary-400 mb-5;
	}

	.error-404-buttons {
		@apply flex flex-col lg:flex-row justify-center flex-wrap gap-4;

		.button {
			@apply flex items-center justify-center px-6;

			&.btn-menu {
				@apply text-background;
			}

			&.btn-secondary {
				@apply bg-transparent text-secondary border-2 border-secondary hover:bg-secondary-100 active:bg-secondary-100 focus:bg-secondary-100;
			}
		}
	}
}



/**
 * ShopChop Header and Footer Normals and Minimals
 *
 * This divided by 2 classes, namely minimal and normal
 *
 * Minimal: Hide unnesscary elements that can distract users
 * Example: Login/Register pages, Checkout & Cart Pages
 *
 * Normal: Show everything like how normal sites use.
 * Example: Almost all pages except minimal pages
 */
.shopchop-header-minimal,
.shopchop-header-normal {
	@apply bg-background;
}

.shopchop-header-minimal {
	.header-minimal-content {
		@apply flex justify-between items-center;		
	}
}

.shopchop-header-normal {
	@apply border-b border-b-grey-200 shadow-sm;

	.woocommerce-store-notice {
		@apply hidden lg:block text-center px-6 md:px-10 lg:px-16 py-2 bg-linear-to-br text-background font-semibold text-sm from-primary-300 to-primary-400;

		.woocommerce-store-notice__dismiss-link {
			@apply font-normal underline! ms-3 transition-all hover:no-underline!;
		}
	}

	.search-bar-row {
		
	}
}

.shopchop-footer-minimal,
.shopchop-footer-normal {

}

.shopchop-footer-minimal {

}

.shopchop-footer-normal {
	@apply bg-secondary text-grey-200;

	.footer-brand {
		p {
			@apply text-2xl font-light mb-4;
		}
	}

	.wp-block-social-link {
		@apply bg-primary-300 text-background transition-all rounded-sm transform-none! hover:bg-primary-400 active:bg-primary-400 focus:bg-primary-400;
	}

	h5 {
		@apply text-background text-2xl font-semibold mb-4;
	}

	ul.menu {
		@apply flex flex-wrap gap-4 flex-col;
	}

	a {
		@apply underline! underline-offset-4 transition-all hover:no-underline! active:no-underline! focus:no-underline!;
	}

	.legal-copyright {
		ul.menu {
			@apply flex-row justify-center lg:justify-start;
		}
	}
}



/**
 * Post title styles
 *
 * These will be applied to all headings with a `page-title` or `entry-title`
 * class on the frontend and to the post title in the block editor.
 *
 * The supplied styles are meant to match the default `h1` classes from
 * Tailwind Typography.
 */
.page-title,
.entry-title {
	@apply mx-auto text-3xl lg:text-5xl font-extrabold mb-8;
}



/**
 * Post meta and footer styles
 *
 * These will be applied to the post-specific elements to keep the post itself
 * at content width pending custom styling.
 */
.entry-meta,
.entry-footer,
.post-navigation,
#comments {
	@apply mx-auto;
}



/**
 * ShopChop Page/Post Main wrapper content
 *
 * This container is for the whole page. It affects the page content, excluding header and footer.
 */
.shopchop-main-content-wrapper {
	@apply container mx-auto px-6 md:px-10 lg:px-16 py-12;
}



/* Archive Product Result & Sorting Wrapper */
.shop-utility-wrapper {
	@apply pb-6 mb-6 border-b border-b-grey-200 flex gap-4 justify-between;
}



/**
 * ShopChop Single Product Styling
 */
.shopchop-wrapper.shopchop-woocommerce {
	/* Products Grid and Card */
	ul.products {
		@apply grid grid-cols-2 gap-4 lg:gap-6 bg-white;
		
		&.columns-1 { @apply grid-cols-1; }
		&.columns-3 { @apply lg:grid-cols-3; }
		&.columns-4 { @apply lg:grid-cols-4; }
		&.columns-5 { @apply lg:grid-cols-5; }
		&.columns-6 { @apply lg:grid-cols-6; }

		li.product {
			@apply w-full flex flex-col flex-nowrap gap-0 border border-grey-200 rounded-lg overflow-hidden;

			.woocommerce-LoopProduct-link {
				.product-image-wrapper {
					@apply overflow-hidden;

					img {
						@apply aspect-square object-cover w-full transition-all overflow-hidden group-hover:scale-115 group-active:scale-115 group-focus:scale-115;
					}
					
					.onsale {
						@apply text-sm px-3 py-1;
					}			
				}

				.product-details-wrapper  {
					@apply p-2.5 md:p-4 flex flex-wrap items-start;

					.woocommerce-loop-product__title {
						@apply text-xl md:text-2xl line-clamp-2 leading-tight font-semibold mb-3 grow;
					}

					.product-star-rating {
						@apply bg-secondary-100 border border-grey-200 rounded-full flex items-center gap-1 px-2.5 py-1 text-sm w-max mb-2;

						.rating-divider {
							@apply text-xs text-grey-400;
						}
					}

					.price {
						@apply text-base md:text-xl text-primary-400 w-full;

						.discount-price .regular {
							@apply text-grey-300 text-sm md:text-base font-normal;
						}

						.discount-price .discount {
							@apply mx-1 rounded-full text-xs md:text-sm py-0.5 px-2 font-medium bg-primary-400 text-background;
						}

						bdi {
							@apply font-bold;
						}
					}
				}
			}

			/* Button wrapper */
			.product-actions {
				@apply flex flex-col lg:flex-row gap-2 px-4 pb-4 text-sm lg:text-base mt-auto;
			}

			.button,
			.added_to_cart {
				@apply flex-1 px-3.5 py-2 h-auto transition-all font-semibold text-center rounded-lg uppercase text-sm lg:text-base;
			}

			.button {
				@apply bg-primary-300 hover:bg-primary-400 hover:text-background hover:ring-4 hover:ring-primary-100 active:bg-primary-400 active:text-background active:ring-4 active:ring-primary-100 focus:bg-primary-400 focus:text-background focus:ring-4 focus:ring-primary-100 disabled:opacity-50 disabled:cursor-not-allowed;
				
				/* Loading state */
				&.loading {
					@apply opacity-70 cursor-wait relative;
					
					&::after {
						content: '';
						@apply absolute right-3 top-1/2 -translate-y-1/2 w-4 h-4 border-2 border-current border-t-transparent rounded-full animate-spin;
					}
				}
			}

			.added_to_cart {
				@apply bg-secondary-300 text-white hover:bg-secondary-400 hover:ring-4 hover:ring-secondary-100 active:bg-secondary-400 active:ring-4 active:ring-secondary-100 focus:bg-secondary-400 focus:ring-4 focus:ring-secondary-100 hidden;
			}
		}
	}

	.woocommerce-pagination {
		@apply flex justify-center mt-10;

		ul.page-numbers {
			@apply flex flex-nowrap items-stretch border border-grey-200 rounded-lg overflow-hidden;

			li {
				/* This adds the vertical dividers between numbers */
				@apply border-r border-grey-200 last:border-r-0;

				.page-numbers {
					/* Base style for every link and the current span */
					@apply flex items-center justify-center min-w-11 h-11 w-11 font-medium transition-all;

					/* The hover state */
					&:not(.current):hover {
						@apply bg-primary-100;
					}

					/* The active/current page state */
					&.current {
						@apply font-bold bg-primary-300 text-foreground;
					}

					/* Arrow specific styling */
					&.prev, &.next {
						@apply text-xl;
					}
				}
			}
		}
	}

	.woocommerce-breadcrumb {
		@apply inline-flex flex-wrap items-center p-3 border border-grey-200 rounded-xl mb-6;

		a {
			@apply transition-all hover:text-primary-400 active:text-primary-400 focus:text-primary-400;
		}
	}

	.product.type-product {
		@apply flex flex-wrap gap-6 lg:gap-8 relative;
	}

	.woocommerce-product-gallery {
		@apply relative w-full lg:w-[calc(35%-2rem)];
	}

	.onsale,
	.woocommerce-product-gallery__trigger {
		@apply absolute z-2;
	}

	.onsale {
		@apply left-2.5 top-2.5 z-2 uppercase font-semibold text-background bg-primary-400 rounded-full px-4 py-1.5 shadow-sm;
	}

	.woocommerce-product-gallery__trigger {
		@apply right-2.5 top-2.5 w-8 h-8 flex justify-center items-center bg-background rounded-lg shadow-sm;
	}

    .woocommerce-product-gallery {
        @apply flex flex-col gap-4 relative;
    }

    .woocommerce-product-gallery__wrapper {
		.woocommerce-product-gallery__image {
			@apply rounded-xl overflow-hidden;

			img {
				@apply aspect-square object-cover;
			}
		}
    }

    .flex-control-nav.flex-control-thumbs {
        @apply flex flex-row flex-nowrap gap-2 overflow-hidden overflow-x-auto snap-x snap-mandatory w-full scroll-smooth pb-3;

		li {
			@apply shrink-0 w-[calc((100%-(5*0.5rem))/6)];
		}

		img {
			@apply w-full rounded-md border-2 border-transparent transition-all cursor-pointer opacity-60 grayscale-50;

			&.flex-active {
				@apply border-primary opacity-100 grayscale-0;
			}
		}
    }

	.summary.entry-summary {
		@apply grow w-full lg:w-[calc(65%-2rem)] lg:pl-16 flex flex-wrap content-start;

		.product_title {
			@apply text-3xl md:text-5xl font-semibold tracking-tight mb-4 grow;
		}

		.woocommerce-product-rating {
			@apply bg-secondary-100 border border-grey-200 rounded-full px-3.5 py-2 flex gap-2 content-center h-max;
		}

		.woocommerce-product-details__short-description {
			@apply hidden!;
		}

		.price.single-product-price {
			@apply font-bold text-2xl md:text-3xl text-primary-400 border-b border-b-grey-200 mb-5 pb-5 w-full;
		}

		.discount-price {
			@apply inline-flex items-center flex-wrap gap-3;

			.regular {
				@apply text-grey-300 text-sm font-normal;
			}
			.discount {
				@apply px-2.5 py-1 rounded-4xl font-normal text-grey-100 bg-primary-400 text-base;
			}
			.sale {}
		}

		form.cart {
			@apply flex flex-wrap gap-3 w-full;

			.button {
				@apply px-8;
			}

			&.variations_form {
				@apply flex-col;

				.woocommerce-variation-add-to-cart {
					@apply flex flex-wrap gap-3;
				}

				.woocommerce-variation-description {
					@apply pb-6;
				}

				.woocommerce-variation-price {
					@apply hidden;
				}

				table tr,
				table th,
				table td {
					@apply flex flex-wrap;
				}

				table tr,
				table th {
					@apply flex-col content-start;
				}

				table tr {
					@apply mb-4 gap-2;
				}

				table td {
					@apply items-center gap-5;
				}
		
				.pill-swatches-container {
					@apply flex flex-wrap gap-2.5;

					.pill-swatch {
						@apply cursor-pointer rounded-full font-medium px-6.5 py-2 border-2 border-grey-200 text-secondary bg-white transition-all hover:bg-secondary-100 active:bg-secondary-100 focus:bg-secondary-100;

						&.active {
							@apply bg-secondary-400 border-secondary-400 text-white;
						}

						&.disabled { 
							@apply bg-grey-200 text-grey-300 border-grey-200 cursor-not-allowed;
						}
					}
				}

				.reset_variations {
					@apply text-lg font-medium text-tertiary transition-all hover:text-secondary;
				}
			}
		}

		.product_meta {
			@apply border-t border-t-grey-200/75 mt-5 pt-5 flex flex-col gap-1 w-full;

			a {
				@apply underline font-medium transition-all hover:text-primary-400 active:text-primary-400 focus:text-primary-400;
			}
		}
	}

	.woocommerce-tabs {
		@apply w-full border border-grey-200 rounded-xl overflow-hidden bg-white;

		.tabs.wc-tabs {
			@apply flex gap-10 flex-nowrap border-b border-b-grey-200 px-4 md:px-6 overflow-hidden overflow-x-auto snap-x snap-mandatory;
		}

		.tabs.wc-tabs li {
			@apply relative font-bold uppercase;

			a {
				@apply w-max inline-block py-4 text-grey-300 transition-all;
			}

			&.active a {
				@apply text-secondary-400;

				&::after {
					@apply content-[""] absolute left-0 right-0 bottom-0 h-1 bg-primary;
				}
			}

			&:not(.active) a:hover {
				@apply text-secondary-300;

				&::after {
					@apply absolute left-0 right-0 bottom-0 h-1 bg-secondary-300;
				}
			}
		}

		.woocommerce-Tabs-panel {
			@apply p-4 md:p-6 pt-6 leading-relaxed;

			h2 {
				@apply mb-4 text-2xl font-semibold;
			}
		}

	}

	.woocommerce-product-attributes {
		@apply w-full;

		tbody {
			@apply border-t text-left border-t-grey-200/75;

			tr {
				@apply border-b border-b-grey-200/75;
			}

			th,
			td {
				@apply px-5 py-2;
			}
		}
	}

	.related.products,
	.up-sells.upsells.products {
		@apply mt-6;

		h2 {
			@apply mb-8 text-3xl lg:text-4xl font-bold;
		}
	}

	.up-sells.upsells.products {
		@apply w-full;

		ul.products { @apply bg-transparent; }
	}
}



/* WooCommerce Reviews */
.woocommerce-Reviews {
	.review-summary-container {
		@apply flex flex-wrap flex-col lg:flex-row items-center gap-6 lg:gap-0 pb-10 mb-10 border-b border-b-grey-200;
	}

	/* Review Container (Official review list) */
	ol.commentlist {
		li {
			@apply mb-4 pb-4 lg:mb-6 lg:pb-6 border-b border-b-grey-200 last:border-none last:mb-0 last:pb-0;

			.comment_container {
				@apply inline-flex gap-3 lg:gap-6;

				img {
					@apply shrink-0 w-12 h-12 lg:w-16 lg:h-16 rounded-full;
				}

				.shopchop-rating-wrapper {
					@apply flex items-center gap-3 py-2;

					.shopchop-stars {
						@apply flex gap-0.5;

						.shopchop-star {
							@apply text-base stroke-none;

							&.is-filled {
								@apply fill-primary-400;
							}

							&.is-empty {
								@apply fill-secondary-200/50;
							}
						}
					}

					.shopchop-rating-number {
						@apply text-xs font-medium bg-secondary-100 border border-grey-200 rounded-full px-2.5 py-1;
					}
				}

				.woocommerce-review__author {
					@apply text-base;
				}

				.shopchop-review-date {
					@apply text-grey-300 text-xs mt-2;
				}

				.woocommerce-review__verified,
				.woocommerce-review__awaiting-approval {
					@apply text-sm;
				}

				.woocommerce-review__verified {
					@apply text-grey-300;
				}

				.woocommerce-review__awaiting-approval {
					@apply text-error-400;
				}
			}
		}
	}

	.summary-score-box {
		@apply w-full lg:w-1/4 lg:pe-12 border-b border-b-grey-200 lg:border-b-0 text-center pb-6 lg:pb-0;

		.big-score {
			@apply text-5xl lg:text-7xl font-bold;
		}

		.score-out-of {
			@apply text-xl lg:text-3xl text-grey-300;
		}

		.total-reviews-label {
			@apply mt-3 font-medium text-lg;
		}
	}

	/* Right Bar Box */
	.summary-bars-box {
		@apply w-full lg:w-3/4 lg:ps-12 lg:border-l lg:border-l-grey-200;

		.bar-row {
			@apply flex items-center gap-6 mb-2;
		}

		.bar-track {
			@apply grow h-2 rounded-full bg-grey-200/50;
		}

		.bar-fill {
			@apply h-full rounded-full bg-linear-to-r from-primary-300 to-primary-400;
		}
		
		.star-label, .count-label {
			@apply text-sm min-w-7 font-semibold;
		}
	}

	/* Add Review */
	.comment-respond,
	.log-in-comment-wrapper {
		@apply mt-10 pt-10 border-t border-t-grey-200;

		.comment-reply-title {
			@apply mb-4 text-2xl font-semibold;
		}

		.comment-form {
			@apply mt-4 flex flex-col flex-wrap gap-3;
		}

		input[type="submit"] {
			@apply text-base px-12 w-max;
		}

		p label {
			@apply w-full;
		}

		input, textarea {
			@apply max-w-full;
		}

		.stars {
			a {
				@apply -indent-[9999px] relative inline-block w-6 text-3xl text-grey-200 transition-all;

				&::before {
					@apply content-["★"] absolute left-0 top-0 indent-0;
				}

				&:hover ~ a {
					@apply text-grey-200;
				}
			}

			&:hover a {
				@apply text-primary-400;
			}

			&.selected {
				a {
					@apply text-primary-400;

					&.active ~ a {
						@apply text-grey-200;
					}

					&:hover ~ a {
						@apply text-grey-200;
					}
				}

				&:hover a {
					@apply text-primary-400;
				}
			}
		}
	}

	/* No Review */
	.woocommerce-noreviews {
		@apply mb-4 p-4 flex flex-wrap font-semibold items-center bg-success-100 border-l-4 border-l-success-400 text-success-400 rounded-r-xl focus-visible:ring-0;
	}

	/* Logged In User Review Only */
	.woocommerce-verification-required {
		@apply p-4 font-semibold bg-success-100 border-l-4 border-l-success-400 text-success-400 rounded-r-xl;
	}
}



/* WooCommerce Cart */
.classic-cart {
	@apply flex flex-wrap lg:gap-x-20;

	p, ul, li {
		@apply m-0 p-0 list-none;
	}

	.woocommerce-notices-wrapper,
	.woocommerce-cart-form,
	.cart-collaterals {
		@apply w-full;
	}

	.woocommerce-cart-form {
		@apply lg:w-[calc(60%-2.5rem)] mb-4 lg:mb-0;
	}

	.cart-collaterals {
		@apply lg:w-[calc(40%-2.5rem)] mt-4 lg:mt-0;

		.cross-sells {
			@apply hidden!;
		}
	}

	button[name="update_cart"] {
		@apply hidden!;
	}

	.button[name="calc_shipping"],
	.button[name="apply_coupon"] {
		@apply px-4 normal-case border-2 bg-transparent text-secondary-400 border-secondary-400 hover:bg-secondary-100 cursor-pointer text-base;
	}

	.woocommerce-cart-form table.shop_table,
	.cart-collaterals table.shop_table {
		@apply text-sm md:text-base;
	}

	.woocommerce-cart-form {
		.cart-table-wrapper {
			@apply p-4 md:p-6 border bg-white border-grey-200 rounded-lg overflow-hidden mb-8;

			table { 
				@apply my-0; 

				tbody {
					@apply flex flex-wrap flex-col;

					tr {
						@apply flex gap-3 lg:gap-6 border-b-grey-200 first:pt-0 last:pb-0 py-4;

						td {
							@apply p-0;

							&.cart-image-wrapper {
								@apply h-24 w-24 lg:h-40 lg:w-40 basis-24 lg:basis-40 aspect-square;

								.product-thumbnail {
									@apply rounded-xl overflow-hidden;
								}

								img {
									@apply m-0 h-24 w-24 lg:h-40 lg:w-40;
								}
							}

							&.cart-product-wrapper {
								@apply flex flex-wrap content-start gap-1 w-full;

								.product-name {
									@apply grow mb-1;

									.cart-product-title {
										@apply text-lg font-semibold text-foreground;
									}

									.cart-item-variations {
										@apply text-grey-300 text-sm font-normal;
									}
								}

								.product-remove {
									@apply w-8 h-8 text-center;

									a {
										@apply text-3xl font-bold text-error-400 transition-all hover:text-error-400/75 active:text-error-400/75 focus:text-error-400/75;
									}
								}

								.product-quantity {
									@apply w-full my-0.5;

									.quantity-nav {
										@apply h-8 lg:h-10;

										.qty-btn {
											@apply w-8 lg:w-10 text-lg lg:text-xl;
										}

										.quantity .input.qty {
											@apply h-8 text-base;
										}
									}
								}

								.product-price {
									@apply w-full text-grey-300 text-xs font-medium mb-1;
								}

								.product-subtotal {
									@apply w-full text-primary-400 text-lg font-bold;
								}
							}
						}
					}
				}
			}
		}

		.cart-coupon-wrapper {
			.coupon {
				@apply flex flex-wrap gap-3 justify-end;

				.coupon-error-notice {
					@apply w-full text-end italic text-error-400;
				}
			}
		}
	}

	.cart-collaterals .cart_totals {
		@apply p-4 md:p-6 border bg-white border-grey-200 rounded-lg overflow-hidden;

		h2 {
			@apply mt-0 mb-4 text-2xl;
		}

		table.shop_table {
			tbody {
				@apply flex flex-col flex-wrap;

				tr {
					@apply flex justify-between border-b-grey-200;

					th, td { @apply px-5 py-3; }
					th { @apply ps-0; }
					td { @apply pe-0 text-end; }

					&.woocommerce-shipping-totals td {
						@apply flex flex-col gap-2 content-end;

						.woocommerce-shipping-calculator {
							@apply block self-end;
						}

						.shipping-calculator-form p {
							@apply pb-2;
						}
					}

					&.order-total {
						@apply text-xl;
					}
				}
			}
		}

		.form-row {
			@apply max-w-60;

			label {
				@apply hidden;
			}
		} 

		.checkout-button.button {
			@apply text-background hover:text-background active:text-background focus:text-background flex items-center justify-center text-center text-xl rounded-xl;
		}
	}
}



/* Classic Checkout */
.classic-checkout {
	.checkout_coupon,
	.woocommerce-form-login {
		@apply border border-grey-200 rounded-xl p-4 lg:p-6 flex flex-wrap gap-4 overflow-hidden mb-8;

		.form-row { 
			@apply my-0 first:grow;

			input {
				@apply max-w-full;
			}

			.coupon-error-notice {
				@apply text-sm italic text-error-400;
			}
		}
		.button {
			@apply px-5 normal-case text-base;
		}

		.form-fields {
			@apply flex flex-col gap-4 lg:flex-row grow;

			.form-row {
				@apply first:grow-0;
			}
		}
		.form-verify {
			@apply shrink-0 w-full lg:w-64;

			.form-row { @apply flex flex-col gap-3; }

			.button {@apply h-10 px-8; }

			.lost_password {
				@apply text-center mt-2;
				
				a {@apply underline! text-primary-400;}
			}
		}
	}

	form.woocommerce-checkout {
		@apply mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-6 md:gap-8 lg:gap-x-12;

		h2, h3, h4 {
			@apply font-semibold text-2xl lg:text-3xl mb-4;
		}

		.woocommerce-NoticeGroup {
			@apply col-span-full;
		}

		#customer_details,
		#order_review,
		#checkout_payment {
		}

		#customer_details{
			@apply col-span-full md:col-span-1 lg:col-span-3;

			.woocommerce-billing-fields__field-wrapper,
			.woocommerce-shipping-fields__field-wrapper {
				@apply flex flex-wrap gap-x-4;
			}

			.form-row {
				@apply flex flex-col mb-4 w-full md:w-[calc(50%-0.5rem)] md:nth-[1]:w-full md:nth-[2]:w-full;

				input, select, textarea { @apply max-w-full; }

				.checkout-inline-error-message {
					@apply text-sm mt-0.5 text-error-400;
				}
			}

			h3#ship-to-different-address,
			.form-row.create-account {
				@apply my-8;

				.woocommerce-form__label {
					@apply inline-flex items-center cursor-pointer;
				}

			}
		}

		#order_review {
			@apply col-span-full md:col-span-1 lg:col-span-2;

			.order-review-table-wrapper {
				@apply border border-grey-200 rounded-lg overflow-hidden;

				table.shop_table {
					@apply w-full block p-4;

					tbody {
						@apply flex flex-col flex-wrap gap-y-3;

						tr {
							@apply flex gap-x-3 justify-between items-end;

							td.product-name {
								@apply flex gap-x-4 items-start;
							}

							img {
								@apply w-16 h-16 md:w-20 md:h-20
							}

							.shopchop-item-qty,
							.variation-meta {
								@apply text-xs md:text-sm text-grey-300;
							}
						}
					}

					tfoot {
						@apply flex flex-col gap-1.5 pt-4 mt-4 border-t border-t-grey-200;

						tr {
							@apply flex gap-4 justify-between;

							&.order-total {
								@apply text-xl mt-2;
							}
						}
					}
				}
			}
		}

		#checkout_payment {
			@apply col-span-full lg:col-span-3;

			.wc_payment_methods {
				@apply flex flex-col gap-4 mb-8;
				
				.wc_payment_method {
					@apply p-4 lg:p-6 border-2 border-grey-200 rounded-lg flex items-center gap-4 cursor-pointer transition-all;

					&.is-selected {
						@apply border-primary-300 ring-primary-100 ring-4;

						label { @apply text-primary-400; }
					}

					&:not(.is-selected) {
						@apply opacity-50;
					}

					input {
						@apply cursor-pointer hidden!;
					}

					span {
						@apply grow;
						label {
							@apply cursor-pointer block w-full;
						}
					}

					hr {
						@apply my-1.5 text-grey-200;
					}

					.payment_box {
						@apply block! text-sm text-grey-300;
					}

					img {
						@apply w-24 shrink-0;
					}
				}
			}

			.woocommerce-privacy-policy-text {
				@apply mb-8;

				a {@apply underline!; }
			}

			button {
				@apply px-10;
			}
		}
	}
}



/* ShopChop Pay to Order Page. If the order is refunded/canceled */
.order-pay-form {
	@apply w-full lg:w-[60%];

	table.shop_table {
		@apply w-full block mb-8 p-4 bg-white border border-grey-200 rounded-lg text-sm md:text-base;

		tbody {
			@apply flex flex-col flex-wrap gap-y-3;

			tr {
				@apply flex gap-x-3 justify-between items-end;

				td.product-name {
					@apply flex gap-x-4 items-start;
				}



				img {
					@apply w-16 h-16 md:w-20 md:h-20
				}

				.shopchop-item-qty,
				.variation-meta {
					@apply text-xs md:text-sm text-grey-300;
				}
			}
		}

		tfoot {
			@apply flex flex-col gap-1.5 pt-4 mt-4 border-t border-t-grey-200;

			tr {
				@apply flex gap-4 justify-between;

				&.order-total {
					@apply text-xl mt-2;
				}
			}

			td.product-total {
				@apply flex gap-x-1.5 items-baseline;

				ins { @apply font-bold; }
			}
		}
	}

	.wc_payment_methods {
		@apply flex flex-col gap-4 mb-8;

		.wc_payment_method {
			@apply p-4 lg:p-6 border-2 border-grey-200 rounded-lg flex items-center gap-4 cursor-pointer transition-all;

			&.is-selected {
				@apply border-primary-300 ring-primary-100 ring-4;

				label {
					@apply text-primary-400;
				}
			}

			&:not(.is-selected) {
				@apply opacity-50;
			}

			input {
				@apply cursor-pointer hidden!;
			}

			span {
				@apply grow;

				label {
					@apply cursor-pointer block w-full;
				}
			}

			hr {
				@apply my-1.5 text-grey-200;
			}

			.payment_box {
				@apply block! text-sm text-grey-300;
			}

			img {
				@apply w-24 shrink-0;
			}
		}
	}

	.woocommerce-privacy-policy-text {
		@apply mb-8;

		a {
			@apply underline ;
		}
	}

	button {
		@apply px-10;
	}
}



/* ShopChop WooCommerce Order Recieved Page. This displays the logic after checkout. */
.wc-order-thank-you-page {
	@apply max-w-3xl mx-auto;

	.woocommerce-order {
		@apply mb-8 p-4 lg:p-6 border border-grey-200 rounded-lg text-sm md:text-base;

		.woocommerce-order-received-title {
			@apply text-3xl lg:text-4xl font-bold mb-2 text-primary-400
		}

		h2 {
			@apply font-semibold text-2xl mb-4;
		}

		.woocommerce-order-overview {
			@apply flex flex-col gap-y-1.5 lg:flex-row lg:justify-between lg:text-center;

			li {
				@apply flex justify-between gap-x-4 lg:flex-col;
			}
		}

		.woocommerce-thankyou-order-failed-actions {
			@apply mt-3;

			a.button {
				@apply px-2.5 py-1 inline-flex items-center normal-case! text-sm! md:text-base! font-medium border-secondary border-2 bg-transparent! text-secondary! hover:bg-secondary-100! cursor-pointer h-max!;
			}
		}

		.woocommerce-order-overview,
		.woocommerce-order-downloads,
		.woocommerce-order-details,
		.woocommerce-customer-details {
			@apply mt-6 pt-6 lg:mt-8 lg:pt-8 border-t border-t-grey-200;
		}

		.woocommerce-order-details {
			table.shop_table {
				@apply w-full;

				thead {
					@apply hidden!;
				}

				tbody {
					@apply flex flex-col flex-wrap gap-y-3;

					tr {
						@apply flex gap-x-3 justify-between items-end;

						td.product-name {
							@apply flex gap-x-4 items-start;

							.shopchop-item-image {
								@apply shrink-0;
							}

							.shopchop-item-content {
								.item-title {
									@apply text-primary-400 font-medium text-base md:text-lg line-clamp-1;
								}

								.variation-meta,
								.shopchop-item-qty {
									@apply block text-sm md:text-base text-grey-300 mt-1;
								}
							}
						}

						img {
							@apply w-16 h-16 md:w-20 md:h-20 rounded-lg;
						}

						.shopchop-item-qty,
						.variation-meta {
							@apply text-xs md:text-sm text-grey-300;
						}
					}
				}

				tfoot {
					@apply flex flex-col gap-1.5 pt-4 mt-4 border-t border-t-grey-200;

					tr {
						@apply flex gap-4 justify-between;

						&.order-total {
							@apply text-xl mt-2;
						}
					}

					td {
						@apply flex gap-x-1 items-baseline text-end;

						a.button {
							@apply px-2.5 py-1 inline-flex items-center normal-case! text-sm! md:text-base! font-medium border-secondary border-2 bg-transparent! text-secondary! hover:bg-secondary-100! cursor-pointer h-max!;

							&.cancel {
								@apply border-error-400! text-error-400! hover:bg-error-100!;
							}
						}
					}
				}
			}
		}

		.woocommerce-customer-details {
			.woocommerce-columns {
				@apply grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6;

				.woocommerce-column {
					@apply col-span-full md:col-span-1;
				}
			}

			address {
				@apply not-italic m-0;
			}
		}

		.wc-next-steps-order {
			@apply mt-6 pt-6 lg:mt-8 lg:pt-8 border-t border-t-grey-200;
		}
	}

	.wc-thank-you-button-actions {
		@apply flex justify-center md:justify-between gap-4 flex-wrap;

		a.button {
			@apply text-base normal-case h-10 px-5 bg-transparent border-2 flex items-center;

			&.print-reciept {
				@apply border-primary text-primary-400 hover:bg-primary-100 active:bg-primary-100 focus:bg-primary-100;
			}

			&.continue-shopping {
				@apply border-secondary text-secondary hover:bg-secondary-100 active:bg-secondary-100 focus:bg-secondary-100;
			}
		}
	}
}

@media print {
    .wc-next-steps-order,
    .wc-thank-you-button-actions { 
        display: none !important;
    }

	#masthead,
	#colophon,
	#masthead>.container,
	#colophon>.container,
	body,
	.shopchop-main-content-wrapper,
	.wc-order-thank-you-page,
    .woocommerce-order {
		background-color: white ;
		padding: 0;
		margin: 0;
		max-width: 100%;
	}

	.woocommerce-order {
        padding: 0.5cm !important;
    }

    /* Ensure table borders and details are visible */
    .shop_table {
        border-collapse: collapse !important;
        width: 100% !important;
    }

    /* Keep the address columns side-by-side if they fit */
    .woocommerce-columns {
        display: flex !important;
        flex-direction: row !important;
        gap: 20px !important;
    }

    .woocommerce-column {
        flex: 1 !important;
    }
}


/* Return to Shop Button - if there's no product */
.return-to-shop {
	@apply py-8;

	.button {
		@apply text-background hover:text-background h-14 px-3 flex justify-center items-center;
	}
}



/* WooComerce Login & Register */
.shopchop-my-account .wc-auth-wrapper {
	@apply max-w-3xl mx-auto;
}



/* WooCommmerce My Account - ShopChop Wrapper */
.shopchop-my-account .shopchop-myaccount-wrapper {
	@apply grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-6 lg:gap-12;

	.woocommerce-MyAccount-navigation {
		ul {
			@apply p-0 m-0 max-md:p-2 max-md:flex max-md:gap-2 max-md:overflow-x-auto max-md:border-2 max-md:border-grey-200 max-md:rounded-xl max-md:snap-x max-md:scroll-smooth md:block;
		}

		li {
			@apply list-none p-0 m-0 max-md:snap-start;
		}

		a {
			@apply w-max px-6.5 py-3 md:px-4 md:border-l-4 md:border-l-transparent md:w-full block font-medium text-grey-300 transition-all hover:text-foreground active:text-foreground focus:text-foreground;

			&:hover {
				@apply md:text-primary-400 md:bg-primary-100 md:px-4 md:border-l-4 md:border-l-primary-400 md:rounded-lg md:rounded-l-none;
			}
		}

		.is-active a {
			@apply max-md:shadow-sm rounded-xl text-foreground md:text-primary-400 md:bg-primary-100 md:px-4 md:border-l-4 md:border-l-primary-400 md:rounded-lg md:rounded-l-none;
		}
	}

	.woocommerce-MyAccount-content {
		@apply md:col-span-2 lg:col-span-3;

		/* Card Stylings for My Account, may be used almost all */
		.user-hero-card,
		.user-action-order,
		.user-action-billing,
		.user-action-account-edit,
		.woocommerce-Address,
		.woocommerce-orders-table.account-orders-table>tbody>tr,
		.account-order-details {
			@apply p-4 lg:p-6 border border-grey-200 rounded-xl;
		}

		h1 {
			@apply font-bold text-3xl md:text-4xl lg:text-5xl mb-4 md:mb-6;
		}

		h2, h3, p, img { @apply m-0; }

		h2 {
			@apply text-xl lg:text-2xl mb-4;
		}

		hr { @apply my-8 lg:my-12 border-grey-200; }

		form p {
			@apply flex flex-col mb-6;
		}
		form input, form select {
			@apply max-w-full;
		}

		.status-badge {
			@apply block rounded-full font-medium text-base px-3.5 py-2;

			&.status-pending	{ @apply bg-amber-100 text-amber-800; }
			&.status-processing { @apply bg-primary-100 text-primary-400; }
			&.status-completed  { @apply bg-emerald-100 text-emerald-800; }
			&.status-on-hold    { @apply bg-amber-100 text-amber-800; }
			&.status-cancelled  { @apply bg-grey-200/50 text-grey-400; }
			&.status-refunded   { @apply bg-slate-100 text-slate-800; }
			&.status-failed	 	{ @apply bg-error-100 text-error-400; }
		}

		/* My Account Dashboard */
		.dashboard-user {
			@apply mb-8;

			.user-hero-card {
				@apply flex flex-wrap justify-between gap-4 lg:gap-8;
				
				.user-icon {
					@apply shrink-0 w-16 h-16 me-4 lg:me-8 lg:w-24 lg:h-24;

					img {
						@apply rounded-full;
					}
				} 

				.user-details {
					@apply w-full;

					h2 {
						@apply text-xl lg:text-2xl;
					}

					hr {
						@apply border-grey-200 my-6 lg:my-4;
					}

					p {
						@apply text-grey-300 text-sm;
					}
				}

				.user-links {
					@apply flex flex-row gap-4 lg:gap-3 lg:flex-col text-center items-center;

					.user-logout {
						@apply h-auto px-8 lg:px-10 py-2 normal-case transition-all bg-transparent border-2 text-secondary-400 border-secondary-400 hover:bg-secondary-100 active:bg-secondary-100 focus:bg-secondary-100 text-base;
					}

					.admin-access {
						@apply text-primary-400 underline! text-sm transition-all hover:no-underline! active:no-underline! focus:no-underline!;
					}
				}
			}
		}

		.dashboard-user-actions {
			@apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6 mt-8;

			h3 {
				@apply text-xl font-bold mb-1;
			}

			p {
				@apply text-grey-300 text-sm;
			}

			.action-icon {
				@apply w-20 h-20 rounded-full bg-primary-100 shrink-0 flex items-center justify-center;

				svg {
					@apply w-10 h-10 text-primary-400;
				}
			}

			.user-action-order,
			.user-action-billing,
			.user-action-account-edit {
				@apply flex items-center gap-4 transition-all hover:bg-secondary-100/50 active:bg-secondary-100/50 focus:bg-secondary-100/50 hover:border-secondary active:border-secondary focus:border-secondary;
			}
		}
		/* My Account Dashboard */

		/* My Account - Address */
		.woocommerce-Address {
			@apply mt-6;

			.woocommerce-Address-title {
				@apply flex flex-wrap gap-2;

				h2 {@apply mb-0; }

				.edit {
					@apply rounded-lg px-3 py-1 text-sm transition-all bg-transparent border-2 text-secondary-400 border-secondary-400 hover:bg-secondary-100 active:bg-secondary-100 focus:bg-secondary-100 ms-auto;
				}
			}

			address {
				@apply mt-4 not-italic;
			}
		}
		/* My Account - Address */

		/* My Account - Edit Address */
		.woocommerce-address-fields__field-wrapper {
			@apply flex flex-wrap gap-x-6;

			.form-row {
				@apply w-full md:w-[calc(50%-0.75rem)] nth-[1]:w-full nth-[2]:w-full;
			}
		}

		.woocommerce-address-fields>p:last-child {
			@apply max-w-max;

			button {
				@apply text-base normal-case px-4;
			}			
		}
		/* My Account - Edit Address */

		/* My Account - Account Details */
		.woocommerce-EditAccountForm.edit-account {
			@apply flex flex-wrap gap-x-6;

			.woocommerce-form-row {
				@apply w-full md:w-[calc(50%-0.75rem)];

				&.form-row-first {
					@apply w-full;
				}
			}

			fieldset {
				@apply w-full; 

				legend {
					@apply text-xl lg:text-2xl font-bold mb-4;
				}
			}

			>p>button[type=submit] {
				@apply text-base normal-case px-4;
			}	
		}
		/* My Account - Account Details */


		/* My Account - View Many Orders */
		.woocommerce-orders-table.account-orders-table {
			@apply w-full;

			tbody {
				@apply flex flex-wrap gap-4 lg:gap-6;

				tr {
					@apply w-full flex flex-col;

					td {
						@apply flex flex-wrap;
					}

					.order-number-status {
						@apply justify-between items-center md:text-lg mb-4 lg:mb-6;
					}

					.order-product-details {
						@apply py-4 border-y flex-col border-y-grey-200;

						.product-info-wrapper {
							@apply flex gap-4;

							img {
								@apply rounded-lg w-20 h-20 lg:w-28 lg:h-28;
							}

							.product-meta-detail {
								@apply flex flex-col justify-between;

								.name {
									@apply text-sm md:text-base line-clamp-1;
								}

								.variation-meta,
								.qty-multiplier {
									@apply text-xs md:text-sm text-grey-300;
								}

								.price {
									@apply text-base md:text-lg mt-auto text-primary-400;
								}
							}
						}
						
						.more-items {
							@apply text-center text-sm md:text-base mt-4;
						}
					}

					.order-date-actions {
						@apply justify-between items-center mt-4 lg:mt-6;

						time {
							@apply text-xs md:text-sm text-grey-300;
						}

						.order-actions-wrapper {
							@apply flex flex-wrap gap-3;
							
							a {
								@apply block h-max rounded-lg px-3 py-0.5 md:px-5 md:py-1 text-sm md:text-base normal-case;
							}
						}
					}
				}
			}
		}

		.woocommerce-pagination {
			@apply mt-8 flex justify-center;

			a.button {
				@apply px-6 inline-flex items-center normal-case text-base border-secondary border-2 bg-transparent text-secondary hover:bg-secondary-100 cursor-pointer;
			}
		}
		/* My Account - View Many Orders */

		/* My Account - Order Detail */
		.account-order-details {
			@apply flex flex-wrap flex-col;

			h2 {
				@apply text-xl lg:text-2xl font-semibold;
			}

			.account-order-detail-status {
				@apply flex flex-wrap gap-4 justify-between;

				.header-left {
					.order-id {
						@apply block text-xl font-semibold;
					}

					.order-date {
						@apply block text-base font-medium text-grey-300;
					}
				}

				.header-right { }
			}

			.order-updates-wrapper,
			.woocommerce-order-downloads,
			.woocommerce-order-details,
			.woocommerce-customer-details {
				@apply pt-4 lg:pt-6 mt-4 lg:mt-6 border-t border-grey-200;
			}

			.order-updates-wrapper {
				.woocommerce-OrderUpdate.note {
					@apply mt-4 relative;

					&:first-child .woocommerce-OrderUpdate-inner.comment_container {
						@apply relative;

						&::after {
							@apply content-[''] absolute bg-error-400 w-4.5 h-4.5 -top-2 -right-2 border-2 border-white rounded-full;
						}
					}

					.woocommerce-OrderUpdate-inner.comment_container {
						@apply bg-teal-50 border border-teal-500 rounded-xl rounded-bl-none py-2.5 px-4 w-max;

						.woocommerce-OrderUpdate-meta {
							@apply text-xs text-grey-400;
						}
					}
				}
			}

			.woocommerce-order-details {
				table thead {
					@apply hidden!;
				}

				table,
				tbody,
				tfoot {
					@apply flex flex-col;

					tr {
						@apply flex justify-between gap-x-3;
					}
				}

				tbody {
					@apply gap-3;

					.woocommerce-table__line-item.order_item {
						@apply flex-col md:flex-row;

						.woocommerce-table__product-name.product-name {
							@apply flex gap-4;

							.shopchop-item-image {
								@apply shrink-0;

								img {
									@apply rounded-lg w-20 h-20 lg:w-28 lg:h-28;
								}
							}

							.shopchop-item-content {
								.item-title {
									@apply text-primary-400 font-medium text-base md:text-lg line-clamp-1;
								}

								.variation-meta,
								.shopchop-item-qty {
									@apply block text-sm md:text-base text-grey-300 mt-1;
								}
							}
						}

						.woocommerce-table__product-total.product-total {
							@apply mt-auto text-end;
						}
					}
				}

				tfoot {
					@apply pt-4 mt-4 gap-1.5 border-t border-t-grey-200;

					td {
						@apply flex gap-x-1.5 items-baseline;

						a.button {
							@apply px-2.5 py-1 inline-flex items-center normal-case! text-sm! md:text-base! font-medium border-secondary border-2 bg-transparent! text-secondary! hover:bg-secondary-100! cursor-pointer h-max!;

							&.cancel {
								@apply border-error-400! text-error-400! hover:bg-error-100!;
							}
						}
					}
				}

				.order-again{
					@apply text-end mt-4;

					.button {
						@apply px-5 py-2 text-base normal-case;
					}
				}
			}

			.woocommerce-customer-details {
				.woocommerce-columns {
					@apply grid grid-cols-1 lg:grid-cols-2 gap-6;

					.woocommerce-column {
						@apply col-span-full lg:col-span-1;
					}
				}

				address {
					@apply not-italic;
				}
			}
		}
		/* My Account - Order Detail */
	}
}



/* ShopChop YITH Wishlist Button. Make this as secondary button.
 * Steps to immpleent this: 
 * 1. Download the plugin and activate it.
 * 2. on YITH wishlist settings, go to "Add to Wishlist" tab, set Position of "Add to wishlist" on product page to shortcode.
 *    Do Not select the other options!
 */
.yith-add-to-wishlist-button-block {
	@apply my-0;
	
	.yith-wcwl-add-to-wishlist-button {
		@apply h-14 px-6 font-semibold border-2 border-secondary text-secondary rounded-lg hover:bg-secondary-100;
	}
}



/* WISHLIST PAGE */
.yith-wcwl-form {
	.wishlist-title-container {
		@apply hidden!
	}

	.wishlist_table {
		@apply my-0 p-0;
		
		&.shopchop-mobile-view {

		}

		&.shopchop-desktop-view {

		}
	}
}