/**
 * Custom styles to immediately follow Tailwind’s `components` layer
 *
 * “Use the `components` layer for any more complicated classes you want to add
 *  to your project that you'd still like to be able to override with utility
 *  classes.”
 *
 *  — from https://tailwindcss.com/docs/adding-custom-styles#adding-component-classes
 */

/**
 * Post title styles
 *
 * These will be applied to all headings with a `page-title` or `entry-title`
 * class on the frontend and to the post title in the block editor.
 *
 * The supplied styles are meant to match the default `h1` classes from
 * Tailwind Typography.
 */
.page-title,
.entry-title {
	@apply mx-auto text-3xl font-extrabold;
}

/**
 * Post meta and footer styles
 *
 * These will be applied to the post-specific elements to keep the post itself
 * at content width pending custom styling.
 */
.entry-meta,
.entry-footer,
.post-navigation,
#comments {
	@apply mx-auto;
}